<div class="ui grid">
    <div class="eight wide column">
<div class="ui card">
  <div class="image">
    <img src="https://goo.gl/iSDIS3">
  </div>
  <div class="content">
    <a class="header">Guillermo Huidobro</a>
    <div class="description">
      <i class="lab icon"></i>
      Almost Human.
      <br>
      <i class="laptop icon"></i>
      Internet Walking.
      <br>
      <i class="money icon"></i>
      Success Finder.
      
    </div>
  </div>
  <div class="extra content">
    <i class="cl flag"></i>
<i class="ar flag"></i>
<i class="us flag"></i>
      2016
  </div>
</div>
</div>
    <div class="eight wide column">
<div class="ui raised segment">
  <p>Very time ago I had the conviction when I saw for first time something so thecnologic as a computer that I wanted to be part of that.
While I walked through that amazing highway I could discover internet, so static , so low.
Nowadays internet is powerfull is huge it resonates in every corner of the globe but most important it is allow me to choose.</p> </div>
<h4 class="ui horizontal divider header">
  <i class="info circle icon"></i>
  Is good to know it !
</h4>
<div class="ui raised segment">
  <p>I'm software developer but first of all an internet fanatic. I have discovered a lot of plataforms and I notice that I never lose the passion to know the cut edge . 
  <br>
  As anybody I do that I like and this is part of my success.
  </p>
</div>
</div>
</div>


<div class="ui inverted segment">
  <p>" When the going get tough, the tough get going. "</p>
</div>

<div class="ui page dimmer">
  <div class="content">
    <div class="center">Hello</div>
  </div>
</div>
<router-outlet></router-outlet>
